.events {
    display: flex;
    justify-content: space-evenly;
  
    max-width: 1140px;
    width: 100%;
    margin: auto;
  }
  
  .event {
    /* border: 2px solid grey; */
    margin: 20px 20px;
    padding: 20px 20px;
    max-width: 400px;
    box-shadow: 4px 2px 45px -15px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 4px 2px 45px -15px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 2px 45px -15px rgba(0, 0, 0, 0.75);
    /* border: 2px solid grey; */
  }
  
  .event img {
    height: 200px;
    width: 350px;
    object-fit: cover;
    border-radius: 5px;
  }
  .event h4 {
    padding: 20px;
    font-size: 19px;
    color: #070049;
  }
  .event h4 p {
    width: 350px;
  }